<ion-content>
  <div class="reset-password-container">
    <img src="assets/images/Mask group1.png" alt="Reset Password Image" class="reset-password-image">
    <div class="reset-password-text">
      <p>Choose a new password to secure your account.<br> Make sure it's strong and memorable!</p>
    </div>

    <div class="custom-input">
      <label>
        <img src="assets/images/Security Shield.png" alt="Lock Icon" class="icon">
        <input [type]="newPasswordType" placeholder="New Password" required>
        <ion-icon [name]="newPasswordEyeIcon" slot="end" (click)="toggleNewPasswordVisibility()"></ion-icon>
      </label>
    </div>

    <div class="custom-input">
      <label>
        <img src="assets/images/Security Shield.png" alt="Lock Icon" class="icon">
        <input [type]="confirmPasswordType" placeholder="Confirm Password" required>
        <ion-icon [name]="confirmPasswordEyeIcon" slot="end" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
      </label>
    </div>

    <button class="custom-button" (click)="resetPassword()">Reset Password</button>
  </div>
</ion-content>
