<ion-content>
  <div class="forgot-password-container">
    <img src="assets/images/Mask group.png" alt="Image" class="logo">

    <p class="description">Oops! Forgot your password? No worries, just click<br>here to reset it and get back on track!</p>

    <form>
      <div class="custom-input">
        <label>
          <img src="assets/images/Letter.png" alt="Email Icon" class="icon">
          <input type="email" placeholder="Enter your Email" required>
        </label>
      </div>

      <button class="custom-button" type="submit">Send Code</button>
    </form>

    <div class="bottom-text">
      <p>Remember Password?</p>
      <a href="/sign-in">Sign In</a>
    </div>
  </div>
</ion-content>
